<div class="container">
  <app-status-bar></app-status-bar>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element">
        <img src="../../../assets/Pokeball_icon-icons.com_67533.svg" />
        <p>{{ element.name }}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef>Adicionar aos Favoritos!</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          matTooltip="Adicionar aos Favoritos"
          (click)="getMoreDataForPokemon(element?.url)"
          >favorite</mat-icon
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    class="paginator"
    #paginator
    [length]="10"
    [pageSize]="4"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>
