.container {
  border: 2px solid black;
}
table {
  margin: 0 auto;
  height: 410px;
  width: 450px;
}
th:nth-child(1),
th:nth-child(2) {
  background-color: rgb(0, 89, 255);
  color: #000;
  font-weight: 800;
}
tr {
  color: #fff !important;
  font-weight: 700;
}
tr:nth-child(2n) {
  background-color: rgba(77, 77, 77, 0.452);
}
tr:nth-child(2n + 1) {
  background-color: rgba(77, 77, 77, 0.242);
}
mat-icon {
  font-size: 30px;
  transition: all 0.5s;
  color: red;
}
mat-icon:hover{
  font-size: 50px;
  transition: all 0.5s;
  cursor: pointer;
}
img {
  width: 50px;
}
p {
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: 3px 3px 6px #000;
}
