<div class="home-container">
  <app-status-bar></app-status-bar>
  <div class="apps">
    <div class="superior-apps">
      <div class="app">
        <img
          (click)="redirectToPokedex()"
          class="pokedex-icon"
          src="../../../assets/Pokeball_icon-icons.com_67533.svg"
        />
        <p>Meus Pokemons</p>
      </div>
      <div class="app favorite">
        <mat-icon>favorite</mat-icon>
        <p>Favoritos</p>
      </div>
    </div>
    <div class="inferior-apps">
      <mat-icon> call</mat-icon>
      <mat-icon>person</mat-icon>
      <mat-icon>videocam</mat-icon>
    </div>
  </div>
</div>
